<div class="alert alert-primary" role="alert">
{{carrera}}
{{#each actions}}
<button type="button" class="btn btn-success">{{/each}}</button>
</div>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
